Importing Data from RapidAPI
send a request to the above-mentioned API to get the climate forecasting of Cairo/Egypt for the coming month
The API response is expected to be in a JSON format, please work on converting the API response to a Pandas dataframe

In [11]:
import requests

url = "https://community-open-weather-map.p.rapidapi.com/climate/month"

querystring = {"q":"Cairo"}

headers = {
    'x-rapidapi-host': "community-open-weather-map.p.rapidapi.com",
    'x-rapidapi-key': "8fa45b2a9fmshc8f62f712753bdfp12822bjsncacb3fefe2aa"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

#print(response.text)

In [40]:
import pandas as pd
import json

# Load the JSON to a Python list of dictionaries then convert that list of dictionaries into a pandas dataframe
df_from_API = pd.DataFrame(json.loads(response.text)['list'])

df_from_API.head()

,dt,humidity,pressure,temp,wind_speed
0,1642118400,59.90,1017.75,"{'average': 287.12, 'average_max': 290.97, 'av...",4.47
1,1642204800,63.27,1019.25,"{'average': 286.89, 'average_max': 291.45, 'av...",4.48
2,1642291200,57.76,1017.88,"{'average': 286.19, 'average_max': 291.17, 'av...",4.86
3,1642377600,60.96,1017.27,"{'average': 286.6, 'average_max': 291.21, 'ave...",4.08
4,1642464000,59.32,1018.62,"{'average': 286.67, 'average_max': 290.93, 'av...",4.90

In [41]:
# json Normalize temp column then concate it with the rest of the dataframe
# my mistake was using from_records without [0], and even without it, json_normalize was enough since one obj was in
# df_from_API['temp'] = pd.json_normalize(pd.DataFrame.from_records(df_from_API['temp']), axis=1)
# pd.concat([df, pd.json_normalize(pd.DataFrame.from_records(df['weather'])[0])], axis=1)
# df_from_API = pd.concat([df_from_API,pd.json_normalize(pd.DataFrame.from_records(df_from_API['temp']))], axis=1)
df_from_API = pd.concat([df_from_API, pd.json_normalize(df_from_API['temp'])], axis=1)

In [42]:
del df_from_API['temp']
df_from_API

,dt,humidity,pressure,wind_speed,average,average_max,average_min,record_max,record_min
0,1642118400,59.90,1017.75,4.47,287.12,290.97,283.11,293.15,277.80
1,1642204800,63.27,1019.25,4.48,286.89,291.45,282.65,294.12,276.99
2,1642291200,57.76,1017.88,4.86,286.19,291.17,281.83,295.00,276.32
3,1642377600,60.96,1017.27,4.08,286.60,291.21,281.40,293.93,275.03
4,1642464000,59.32,1018.62,4.90,286.67,290.93,281.70,295.15,274.36
5,1642550400,63.17,1019.84,4.30,286.26,291.04,281.27,293.95,274.57
6,1642636800,58.39,1021.31,3.65,286.25,291.49,281.48,295.00,275.24
7,1642723200,54.07,1020.47,3.55,287.23,293.07,281.59,297.15,276.61
8,1642809600,53.70,1018.68,3.78,287.90,293.44,282.56,301.04,276.06
9,1642896000,55.81,1017.87,3.91,287.70,292.27,282.73,297.10,277.64
10,1642982400,56.60,1017.74,3.92,288.09,292.74,283.38,296.03,277.36
11,1643068800,57.74,1018.05,3.46,287.92,293.00,282.20,299.15,275.70
12,1643155200,54.63,1017.00,4.61,287.86,292.62,282.61,300.15,273.39
13,1643241600,56.83,1016.67,4.34,287.38,291.80,282.34,296.00,278.65
14,1643328000,55.14,1018.82,3.50,286.77,290.60,282.86,292.15,277.33
15,1643414400,56.10,1020.11,3.09,286.63,290.90,282.20,294.15,276.37
16,1643500800,54.62,1020.15,3.30,286.64,291.59,281.83,295.15,276.68
17,1643587200,54.55,1019.76,3.79,286.93,291.79,282.10,296.67,276.41
18,1643673600,58.68,1019.31,3.67,287.57,293.10,282.31,300.15,277.07
19,1643760000,61.32,1018.99,3.78,287.91,293.16,282.90,300.12,276.49
20,1643846400,59.98,1019.63,3.82,287.58,293.21,282.47,299.98,276.60
21,1643932800,58.14,1018.92,3.28,287.99,294.01,282.33,301.15,275.28
22,1644019200,52.56,1017.27,3.90,289.20,294.64,283.65,301.15,276.27
23,1644105600,52.18,1016.77,4.09,288.80,293.90,284.02,300.15,274.88
24,1644192000,53.86,1016.88,4.98,288.49,293.50,283.57,302.15,275.86
25,1644278400,51.01,1018.13,3.42,289.05,294.29,284.37,303.15,278.01
26,1644364800,55.81,1018.38,3.34,288.47,293.64,283.49,303.15,276.65
27,1644451200,57.12,1017.87,3.86,287.92,293.01,283.19,305.15,276.94
28,1644537600,56.96,1018.09,4.26,287.40,292.69,282.43,299.15,271.79
29,1644624000,57.50,1018.04,3.76,287.74,293.38,282.96,299.15,278.07