Depending on the use of Pandas read_CSV function, kindly fetch this remote iris dataset
https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv as a dataframe which is expected to have the following fields:
- sepal_length
- sepal_width
- petal_length
- petal_width
- species
Then for all numeric fields/columns, kindly show the following information:
- Mean
- Minimum value
- Maximum value

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

In [4]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [15]:
df.describe().loc[['count','min','max']]

       sepal_length  sepal_width  petal_length  petal_width
count         150.0        150.0         150.0        150.0
min             4.3          2.0           1.0          0.1
max             7.9          4.4           6.9          2.5