Kindly create a Pandas dataframe based on extracted data from PostgreSQL database
Kindly create a query to get a list of customers in addition to the number of orders they did, even if count of orders is Zero
create a Pandas dataframe that will contain the following fields/columns:
- company_name
- city
- country
- count

In [21]:
import pandas as pd
import psycopg2

# Connection parameters, yours will be different
params_dic = {
    "host"      : "localhost",
    "database"  : "northwind",
    "user"      : "postgres",
    "password"  : "not_your_password"
}

conn = psycopg2.connect(**params_dic)
cursor1 = conn.cursor()

In [24]:
cursor1.execute('''SELECT company_name, city, country, Count(orders.customer_id)
                    FROM customers LEFT JOIN orders
                    ON customers.customer_id = orders.customer_id
                    GROUP BY company_name, city, country;''')

In [25]:
df = pd.DataFrame(cursor1.fetchall(), columns=['company_name', 'city', 'country', 'count'])
df.head()

                           company_name      city      country  count
0               Great Lakes Food Market    Eugene          USA     11
1                       Du monde entier    Nantes       France      4
2              Lonesome Pine Restaurant  Portland          USA      8
3                    Richter Supermarkt    Genève  Switzerland     10
4  FISSA Fabrica Inter. Salchichas S.A.    Madrid        Spain      0

In [30]:
df[df['count'] == 0].head()

                            company_name    city country  count
4   FISSA Fabrica Inter. Salchichas S.A.  Madrid   Spain      0
68                     Paris spécialités   Paris  France      0