Without the use of XSLT or any tool other than Python/Pandas, let's work on converting the breakfast_menu.xml dataset to CSV
At the end you can ignore the "description" field
You need to suppress the '$' in "Price" field values
The output CSV dataset expected to have a header and be semicolon separated and also there's no index there, it's expected to have the following fields:
- Name
- Price
- Calories

In [7]:
import pandas as pd
df = pd.read_xml('../datasets/breakfast_menu.xml')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         5 non-null      object
 1   price        5 non-null      object
 2   description  5 non-null      object
 3   calories     5 non-null      int64
dtypes: int64(1), object(3)
memory usage: 288.0+ bytes

,name,price,description,calories
0,Belgian Waffles,$5.95,Two of our famous Belgian Waffles with plenty ...,650
1,Strawberry Belgian Waffles,$7.95,Light Belgian waffles covered with strawberrie...,900
2,Berry-Berry Belgian Waffles,$8.95,Belgian waffles covered with assorted fresh be...,900
3,French Toast,$4.50,Thick slices made from our homemade sourdough ...,600
4,Homestyle Breakfast,$6.95,"Two eggs, bacon or sausage, toast, and our eve...",950

In [8]:
del df['description']
df.head()

                          name  price  calories
0              Belgian Waffles  $5.95       650
1   Strawberry Belgian Waffles  $7.95       900
2  Berry-Berry Belgian Waffles  $8.95       900
3                 French Toast  $4.50       600
4          Homestyle Breakfast  $6.95       950

In [10]:
df['price'] = df['price'].str.replace('$', '')
df['price'] = df['price'].astype(float)

C:\Users\ReAegis\AppData\Local\Temp/ipykernel_7952/276105078.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['price'] = df['price'].str.replace('$', '')

In [11]:
df.head()

                          name  price  calories
0              Belgian Waffles   5.95       650
1   Strawberry Belgian Waffles   7.95       900
2  Berry-Berry Belgian Waffles   8.95       900
3                 French Toast   4.50       600
4          Homestyle Breakfast   6.95       950

In [12]:
df.to_csv("../datasets/food.csv", index=False, sep=";")

In [13]:
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/car_crashes.csv')