Without the use of Selenium or any other crawling/scrapping tool, just use Python/Pandas to access the following web page:
https://www.premierleague.com/stats/top/players/goals?se=-1 and create a Pandas dataframe that will contain the following fields/columns:
- Rank
- Player Name
- Club
- Nationality
- Stat/Number of Scored goals

In [1]:
import pandas as pd
html_tables = pd.read_html('https://www.premierleague.com/stats/top/players/goals?se=-1')
df = html_tables[0]

In [3]:
df.head()

   Rank         Player Club Nationality  Stat  Unnamed: 5
0     1   Alan Shearer    -     England   260         NaN
1     2   Wayne Rooney    -     England   208         NaN
2     3    Andrew Cole    -     England   187         NaN
3     4  Sergio Ag端ero    -   Argentina   184         NaN
4     5  Frank Lampard    -     England   177         NaN

In [4]:
del df['Unnamed: 5']
df.head()

   Rank         Player Club Nationality  Stat
0     1   Alan Shearer    -     England   260
1     2   Wayne Rooney    -     England   208
2     3    Andrew Cole    -     England   187
3     4  Sergio Ag端ero    -   Argentina   184
4     5  Frank Lampard    -     England   177